<h3>Sign Up</h3>
<div class="col-sm-3">
    <div class="alert alert-warning" *ngIf="errMsg">
        <strong>{{errMsg}}</strong>
    </div>
    <form [formGroup]="regForm" (ngSubmit)="register()">
        <div class="form-group">
            <label>User Name:</label>
            <input type="text" formControlName="userName" class="form-control"/>
            <div class="alert alert-danger" *ngIf="f.userName.invalid && (f.userName.touched || f.userName.dirty)">
                <strong>User name can not be left blank</strong>
            </div>
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" formControlName="password" class="form-control"/>
            <div class="alert alert-danger" *ngIf="f.password.invalid && (f.password.touched || f.password.dirty)">
                <strong>Password can not be left blank</strong>
            </div>
        </div>
        <div class="form-group">
            <label>Retype Password:</label>
            <input type="password" formControlName="confirmPassword" class="form-control"/>
            <div class="alert alert-danger" *ngIf="f.confirmPassword.invalid && (f.confirmPassword.touched || f.confirmPassword.dirty)">
                <strong *ngIf="f.confirmPassword.errors.required">Retype Password can not be left blank</strong>
                <strong *ngIf="f.confirmPassword.errors.mustBeEqual">Password must match.</strong>
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-primary" [disabled]="regForm.invalid">Sign Up</button>
        </div>
    </form>
    <div class="well well-primary text-center">
        <a routerLink="/login">
            Old User? Sign In Here!
        </a>        
    </div>    
</div>