<body>
    <div id="mini-statement">
        <h3 class="text-center pt-2">Integrated Banking System</h3>
        <div class="container">
            <div id="mini-statement-row" class="row justify-content-center align-items-center">
                <div id="mini-statement-column" class="col-md-6">
                    <div id="mini-statement-box" class="col-md-18">
                        <form id="mini-statement-form" class="form" method="post">
                            <h3 class="text-center text-info">Mini Statement</h3>
                            <div class="form-group">
                                <label for="firstDate" class="text-info">From:</label><br>
                                <input type="date" name="firstDate" id="firstDate" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="lastDate" class="text-info">To:</label><br>
                                <input type="date" name="lastDate" id="lastDate" class="form-control">
                            </div>
                            <div class="form-group">

                                <input  type="submit" name="submit" class="btn btn-info btn-md" value="Get">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>