<div class="about-section form">
    <h1>About Our Bank.</h1>
    <p style="background-color: rgb(199, 199, 184);color: black;font-size: 20px;">IBS Bank offers a diverse range of financial
        products and banking services to customers through a growing branch and ATM network and digital channels such as
        Netbanking, Phonebanking and MobileBanking.
        IBS Bank offers a wide gamut of commercial and transactional banking services to businesses and organizations of
        all sizes. Our services include working capital finance, trade services, transactional services and cash
        management.Under our treasury services, we help businesses generate better returns on their funds and manage
        financial risk. We focus on three main product areas: foreign exchange and derivatives, local currency money
        market and debt securities, and equities.
        IBS Bank was established by the Industrial Credit and Investment Corporation of India (IBS), an Indian financial
        institution, as a wholly owned subsidiary in 1994 in Vadodara. The parent company was formed in 1955 as a
        joint-venture of the World Bank, India's public-sector banks and public-sector insurance companies to provide
        project financing to Indian industry.[11][12] The bank was founded as the Industrial Credit and Investment
        Corporation of India Bank, before it changed its name to IBS Bank. The parent company was later merged with the
        bank.

        IBS Bank launched internet Banking operations in 1998.[13]


        In the 1990s, IBS transformed its business from a development financial institution offering only project
        finance to a diversified financial services group, offering a wide variety of products and services, both
        directly and through a number of subsidiaries and affiliates like IBS Bank. In 1999, IBS become the first Indian
        company and the first bank or a financial institution from non-Japan Asia to be listed on the NYSE.[16]

      
        In 2008, following the 2008 financial crisis, customers rushed to IBS ATMs and branches in some locations due to
        rumours of an adverse financial position of IBS Bank. The Reserve Bank of India issued a clarification on the
        financial strength of IBS Bank to dispel the rumours.[18]

       
    </p>

</div>