h3{
    text-align: center;
}
.form {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    color: #000000;
    margin-top: 5%;
    max-resolution: left 5px;
    text-align:left;
    width:100%;
    box-sizing: border-box;
 }
 .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
 
 
 *[role="form"] h2 { 
    font-size: 20px;
    color: #000000;
    margin-top: 5%;
    text-align: right;
 
 }
 




 
.dropbtn {
   background-color: #46a6dd;
   color: rgb(255, 255, 255);
   padding: 15px 50px;
   font-size: 16px;
   border: none;
   cursor: pointer;
 }
 
 .dropdown {
   position: relative;
   display: inline-block;
   
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 200px;
  
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 .dropdown-content a {
   color: black;
   padding: 15px 150px;
   text-decoration: none;
   display: block;
 }
 
 .dropdown-content a:hover {background-color: #f1f1f1}
 
 .dropdown:hover .dropdown-content {
   display: block;
 }
 
 .dropdown:hover .dropbtn {
   background-color: #4e4e4e;
 }
 
 