<body>
    <div id="monthly-statement">
        <h3 class="text-center text-white pt-5">Integrated Banking System</h3>
        <div class="container">
            <div id="monthly-statement-row" class="row justify-content-center align-items-center">
                <div id="monthly-statement-column" class="col-md-6">
                    <div id="monthly-statement-box" class="col-md-12">
                        <form id="monthly-statement-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Monthly Statement</h3>
                            <div class="form-group">
                               
                                <tr><th><label for="month" class="text-info">Months:</label></th>
                                
                           
                          
                                    <td> <select id="month" name="Months">
                                    <option value="default">Select</option>    
                                    <option value="Current">Current Months</option>
                                    <option value="quarter">Quarterly</option>
                                    <option value="half">Half Yearly</option>
                                    <option value="annual">Annual</option>
                                  </select></td>
                                  </div>
                            
                            <div class="form-group">
                               
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Get">
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </body>
    