<html>

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ **---------->



    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <!------ *********---------->
</head>

<body>
   <br><br><br><br>

    <div class="container">
        <form [formGroup]="customerForm" class="form-horizontal" (ngSubmit)="save()" role ="form">
            <h2>Registration</h2>
            <div class="form-group">
                <label for="aadharNumber" class="col-sm-3 control-label">Aadhar Number</label>
                <div class="col-sm-9">
                    <input type="number" id="aadharNumber" placeholder="Aadhar Number" class="form-control" autofocus
                        formControlName="aadharNumber"/>
                    <div *ngIf="f.aadharNumber.invalid && (f.aadharNumber.touched || f.aadharNumber.dirty)"
                        class="alert alert-danger">

                        <span>Aadhar Number must be of 10 digits</span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="fName" class="col-sm-3 control-label">First Name</label>
                <div class="col-sm-9">
                    <input type="text" id="fName" placeholder="First Name" class="form-control" autofocus
                        formControlName="fName"  />
                    <div *ngIf="f.fName.invalid && (f.fName.touched || f.fName.dirty)"
                        class="alert alert-danger">

                        <span>First Name is manditory</span>
                    </div>
                </div>
            </div>



            <div class="form-group">
                <label for="lName" class="col-sm-3 control-label">Last Name</label>
                <div class="col-sm-9">
                    <input type="text" id="lName" placeholder="Last Name" class="form-control" autofocus
                        formControlName="lName"  />
                    <div *ngIf="f.lName.invalid && (f.lName.touched || f.lName.dirty)"
                        class="alert alert-danger">
                        <span>lastName is manditory</span>
                    </div>
                </div>
            </div>



            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    <input type="text" id="email" placeholder="Email" class="form-control" autofocus
                        formControlName="email"  />
                    <div *ngIf="f.email.invalid && (f.email.touched || f.email.dirty)"
                        class="alert alert-danger">

                        <span>email is manditory</span>
                    </div>
                </div>
            </div>




            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Password </label>
                <div class="col-sm-9">
                    <input type="password" id="password" placeholder="password" class="form-control" name="password"
                        formControlName="password"  />
                    <div *ngIf="f.password.invalid && (f.password.touched || f.password.dirty)" class="alert alert-danger">

                        <span>Password is manditory</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="dataOfBirth" class="col-sm-3 control-label">dataOfBirth</label>
                <div class="col-sm-9">
                    <input type="date" id="dataOfBirth" placeholder="dataOfBirth" class="form-control"
                        formControlName="dataOfBirth" />
                    <div *ngIf="f.dataOfBirth.invalid && (f.dataOfBirth.touched || f.dataOfBirth.dirty)"
                        class="alert alert-danger">

                        <span>dataOfBirth is manditory</span>
                    </div>
                </div>
            </div>
           <!-- <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Confirm Password*</label>
                <div class="col-sm-9">
                    <input type="password" id="confirmPassword" placeholder="Password" class="form-control"
                        formControlName="confirmPassword" [disabled]="isEditing" />
                    <div *ngIf="f.confirmPassword.invalid && (f.confirmPassword.touched || f.confirmPassword.dirty)"
                        class="alert alert-danger">

                        <span>confirmPassword is manditory</span>
                    </div>
                </div>
            </div>-->
            <div class="form-group">
                <label for="phoneNumber" class="col-sm-3 control-label">phoneNumber</label>
                <div class="col-sm-9">
                    <input type="text" id="phoneNumber" class="form-control" formControlName="phoneNumber"
                        />
                    <div *ngIf="f.phoneNumber.invalid && (f.phoneNumber.touched || f.phoneNumber.dirty)"
                        class="alert alert-danger">

                        <span>PhoneNumber is manditory</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-sm-3 control-label">Address </label>
                <div class="col-sm-9">
                    <input type="text" id="address" placeholder="Address" class="form-control"
                        formControlName="address"  />
                    <div *ngIf="f.address.invalid && (f.address.touched || f.address.dirty)"
                        class="alert alert-danger">

                        <span>Address is manditory</span>
                    </div>                   
                </div>
            </div>
            <div class="form-group">
                <label for="panCard" class="col-sm-3 control-label">panCard </label>
                <div class="col-sm-9">
                    <input type="text" id="panCard" placeholder="Please write your panCard" class="form-control"
                        formControlName="panCard"  />
                    <div *ngIf="f.panCard.invalid && (f.panCard.touched || f.panCard.dirty)" class="alert alert-danger">

                        <span>PanCard is manditory</span>
                    </div>
                </div>
            </div>
            
            
            <div class="form-group">
                <label class="control-label col-sm-3">Gender</label>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="radio-inline">
                                <input type="radio" name="gender" value="Female" formControlName="gender">Female

                            </label>

                            <div *ngIf="f.gender.invalid && (f.gender.touched || f.gender.dirty)"
                                class="alert alert-danger">
                                <span>gender is manditory</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="radio-inline">
                                <input type="radio" name="gender" value="Male" formControlName="gender">Male
                            </label>
                        </div>
                    </div>
                </div>
            </div> <!-- /.form-group -->
            <div class="form-group">
                
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Account Type</label>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="radio-inline">
                                <input type="radio" name="accountType" value="SavingAccount"  formControlName="accountType">SavingAccount
                            </label>
                            <div *ngIf="f.accountType.invalid && (f.accountType.touched || f.accountType.dirty)"
                                class="alert alert-danger">

                                <span>accountType is manditory</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="radio-inline">
                                <input type="radio" name="accountType" value="RecurringAccount" formControlName="accountType">RecurringAccount
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <label class="radio-inline">
                                <input type="radio" name="accountType" value="FixedDepositAccount" formControlName="accountType">FixedDepositAccount
                            </label>
                        </div>
                    </div>
                </div>
                <br><br><br><br>
                <button class="btn btn-primary col-md-12">
                    
                        Register
                 
                </button>
            </div> <!-- /.form-group --> <!-- /.form-group -->
            
        </form> <!-- /form -->
    </div> <!-- ./container -->
</body>